*{
    box-sizing: border-box;
}
body{
    font-size: 12px;
}
.container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.link{
    color: #07111b;
}
.red {
    color: red;
}

.clearfix::after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}